{% extends 'base.html' %}

{% block content %}

<main class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2>Hello {{user}}</h2>
            {% if user.is_authenticated %}
            {% else %}
            <div class="text-center">
                <a class="btn btn-secondary" href="/signin/">
                    Signin
                </a>
                <a class="btn btn-dark" href="/signup/">
                    Signup
                </a>
            </div>
            {% endif %}
            <form method="GET" style="margin-top: 10px; display: flex;">
                <input type="text" name="buscar" value="{{request.GET.buscar}}" placeholder="Buscar...">
                <input class="button" type="submit" value="Buscar">
            </form>
            <h1 class="text-center display-3 py-3">All Tasks</h1>
            <ul class="list-group">
                {% for task in tasks %}
                    <header class="list-group-item" class="d-flex justify-content-between">
                        {% if task.important %}
                        <h1 class="fw-bold text-success">{{task.title}}</h1>
                        {% else %}
                        <h1 class="fw-bold">{{task.title}}</h1>
                        {% endif %}
                        <p>by {{task.user.username}}</p>
                        <p>{{task.description}}</p>
                        {% if task.datecompleted %}
                        <p>Completed at {{task.datecompleted|date:'M j Y'}}</p>
                        {% else %}
                        <p>Not completed yet</p>
                        {% endif %}
                    </header>
                {% endfor %}
            </ul>
        </div>
    </div>
</main>

{% endblock %}